#map, .hero {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }

.hero {
  text-align: center;
  background-color: #00808075;
  padding-top: 30px; }
  .hero img {
    height: 15vh; }
  .hero h1 {
    margin: 30px 0px; }
  .hero a {
    font-weight: bold;
    border-radius: 30px !important;
    text-transform: none !important; }

.custom-tabs {
  position: fixed;
  height: 65px !important;
  bottom: 1px;
  text-transform: none;
  -webkit-box-shadow: 0 6px 25px 2px #9e9e9e;
  box-shadow: 0 6px 25px 2px #9e9e9e; }
  .custom-tabs .tab {
    height: 100%; }
  .custom-tabs a {
    color: teal !important;
    padding-top: 12px !important;
    line-height: 14px;
    font-size: 12px;
    text-transform: none; }
    .custom-tabs a .tab-label {
      display: block; }
    .custom-tabs a:active, .custom-tabs a:focus {
      background-color: transparent !important; }
  .custom-tabs .indicator {
    height: 8px;
    border-radius: 10px;
    background-color: teal; }

.mybutton {
  position: fixed;
  bottom: 10vh;
  right: 10px; }
  .mybutton li {
    padding: 10px; }

.adjest {
  padding-left: 70px !important; }

.bg-gray {
  background-color: #e6e6e6; }

.btn-topcorner {
  margin: 10px; }

.divider {
  margin: 0px !important; }

.user-view-custom {
  font-size: 46px; }
  .user-view-custom img {
    width: 6vh; }

.mapboxgl-ctrl-geocoder {
  left: 60px !important; }
  .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--input {
    margin-top: 7px !important;
    margin-left: 38px !important;
    width: 201px !important;
    height: 5vh !important; }

.dock {
  width: 100%;
  padding: 0px 10px 9px 10px;
  background-color: white;
  position: fixed;
  bottom: 0px; }
