<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Dashboard</title>

  <link rel="stylesheet" href="res/css/db.css" />
  <link rel="stylesheet" href="res/css/materialize.css" />

  <!-- MapBox -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css" rel="stylesheet" />

  <!-- Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
  <div id="map"></div>
  <div id="myVue">
    <div class="row">
      <div class="col s12">
        <ul class="tabs tabs-fixed-width"  style="position: fixed;" >
          <li class="tab col s3"><a href="#dashboard">Dashboard</a></li>
          <li class="tab col s3"><a href="#table">Data Table</a></li>
        </ul>
      </div>
      <div 
        id="table" 
        class="col s12"
        style="margin-top: 6vh;"
      ><v-table></v-table>
      </div>
      <div id="dashboard" class="col s12">
        <v-dashboard
          v-for="analyseObj in analyseObjs"
          :analyseobj = "analyseObj"
          style="margin-top: 7vh;"
        ></v-dashboard>
      </div>
    </div>
  </div>
</body>

<script type="text/x-template" id="v-dashboard">
  <div class="container">
    <canvas id="myChart"></canvas>

    <table>
      <tbody v-for="place in analyseobj.counter">
        <tr>
          <td>{{ place.type }}</td>
          <td style="text-align: right;">{{ place.total }}</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td><b>total</b></td>
          <td style="text-align: right;">{{ getTotal(analyseobj.counter) }}</td>
        </tr>
      </tbody>
    </table>

    <p><b style="color: red;">Duplicated IDs (to fix): </b></p>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Name</th>
        </tr>
      </thead>
  
      <tbody v-for="place in analyseobj.total_idDuplicatedItems">
        <tr @click="print(place)">
          <td>{{ place.properties.id }}</td>
          <td>{{ place.properties.type }}</td>
          <td>{{ place.properties.name_en}}</td>
        </tr>
      </tbody>
    </table>

    
    
    <p><b style="color: green;">Duplicated Places (auto-fixed): </b></p>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Name</th>
        </tr>
      </thead>
  
      <tbody v-for="place in analyseobj.total_duplicatedItems">
        <tr @click="print(place)">
          <td>{{ place.properties.id }}</td>
          <td>{{ place.properties.type }}</td>
          <td>{{ place.properties.name_en}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</script>

<script type="text/x-template" id="v-table">
  <div class="container">
        <v-placegroup
          v-for="placeGroup in placeGroups"
          :placeGroup="placeGroup"
          :key="placeGroup.id"
        ></v-placegroup>
      </div>
  </script>

<script type="text/x-template" id="v-placegroup">
  <table>
    <thead>
      <h5>{{ placeGroup.name }}</h5>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Place</th>
      </tr>
    </thead>

    <tbody v-for="place in placeGroup.places">
      <tr @click="print(place)">
        <td>{{ place.properties.id }}</td>
        <td>{{ place.properties.type }}</td>
        <td>{{ place.properties.name_en}}</td>
      </tr>
    </tbody>
  </table>
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="res/js/materialize.js"></script>
<script src="res/js/mapbox.js"></script>
<script src="res/js/db.js"></script>

</html>