#map {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

.mybutton {
    position: fixed;
    bottom: -4px;
    right: 10px;

    li {
        padding: 10px;
    }
}

.adjest {
    padding-left: 70px !important;
}

.bg-gray {
    background-color: rgb(230, 230, 230);
}

.btn-topcorner {
    margin: 10px;
}

.divider {
    margin: 0px !important;
}

.user-view-custom {
    font-size: 46px;

    img {
        width: 6vh;
    }
}