.main-img img {
    width: 100%;
}

.place-title {
    padding: 5px 8px;
    box-shadow: 0px 0px 10px 0px rgba(90, 91, 95, 1);
}

.place-title p {
    margin-bottom: 5px;
}

.place-name {
    font-weight: 500;
}

.place-type {
    font-size: 13px;
    font-weight: 300;
}

.place-detail {
    font-family: monospace;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border-bottom: 0.1px groove rgba(0, 0, 0, 0.214);
}