.main-img img {
    width: 100%;
}

.place-title {
    padding: 5px 8px;
}

.place-title p {
    margin-bottom: 5px;
}

.place-name {
    font-weight: 500;
}

.place-type {
    font-size: 13px;
    font-weight: 400;
    color: gray
}

.place-detail {
    font-family: monospace;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border-bottom: 0.1px groove rgba(0, 0, 0, 0.214);
}

.detail-icon {
    color: #037Ef3;
    margin-right: 15px; 
}

.btn-group {
    display: block;
}

.radius-0 {
    border-radius: 0 !important;
}

.btn-icon {
    font-size: 2em;
    margin: 5px 0px;
}

.paint-blue {
    color: #037Ef3;
}

.bg-blue {
    background: #037Ef3;
}

.shadow-bottom {
    box-shadow: 0px 6px 3px -1px #888888;
}

/* =============================================================================
   Base Button
   ========================================================================== */

   .button-custom {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #3072b3;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font:11px/normal sans-serif;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
    -moz-background-clip: padding; /* for Firefox 3.6 */    
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.button-custom:hover,
.button-custom:focus,
.button-custom:active,
.button-custom.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.button-custom:active,
.button-custom.active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.button-custom::-moz-focus-inner {
    padding: 0;
    border: 0;
}