.main-img img {
    width: 100%;
}

.place-title {
    padding: 5px 8px;
}

.place-title p {
    margin-bottom: 5px;
}

.place-name {
    font-weight: 500;
}

.place-type {
    font-size: 13px;
    font-weight: 400;
    color: gray
}

.place-detail {
    font-family: monospace;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border-bottom: 0.1px groove rgba(0, 0, 0, 0.214);
}

.detail-icon {
    color: #037Ef3;
    margin-right: 15px; 
}

.btn-group {
    display: block;
}

.radius-0 {
    border-radius: 0 !important;
}

.btn-icon {
    font-size: 2em;
    margin: 5px 0px;
}

.paint-blue {
    color: #037Ef3;
}

.bg-blue {
    background: #037Ef3;
}

.shadow-bottom {
    box-shadow: 0px 6px 3px -1px #888888;
}